@import "https://userstyles.catppuccin.com/lib/lib.less";

@flavor: latte;

html[data-theme="catppuccin-latte-rosewater"] {
  #lib.palette();

  @accentColor: rosewater;
}

html[data-theme="catppuccin-latte-flamingo"] {
  #lib.palette();

  @accentColor: flamingo;
}

html[data-theme="catppuccin-latte-pink"] {
  #lib.palette();

  @accentColor: pink;
}

html[data-theme="catppuccin-latte-mauve"] {
  #lib.palette();

  @accentColor: mauve;
}

html[data-theme="catppuccin-latte-red"] {
  #lib.palette();

  @accentColor: red;
}

html[data-theme="catppuccin-latte-maroon"] {
  #lib.palette();

  @accentColor: maroon;
}

html[data-theme="catppuccin-latte-peach"] {
  #lib.palette();

  @accentColor: peach;
}

html[data-theme="catppuccin-latte-yellow"] {
  #lib.palette();

  @accentColor: yellow;
}

html[data-theme="catppuccin-latte-green"] {
  #lib.palette();

  @accentColor: green;
}

html[data-theme="catppuccin-latte-teal"] {
  #lib.palette();

  @accentColor: teal;
}

html[data-theme="catppuccin-latte-sky"] {
  #lib.palette();

  @accentColor: sky;
}

html[data-theme="catppuccin-latte-sapphire"] {
  #lib.palette();

  @accentColor: sapphire;
}

html[data-theme="catppuccin-latte-blue"] {
  #lib.palette();

  @accentColor: blue;
}

html[data-theme="catppuccin-latte-lavender"] {
  #lib.palette();

  @accentColor: lavender;
}












