@import "https://userstyles.catppuccin.com/lib/lib.less";

@flavor: macchiato;

html[data-theme="catppuccin-macchiato-rosewater"] {
  #lib.palette();

  @accentColor: rosewater;
}

html[data-theme="catppuccin-macchiato-flamingo"] {
  #lib.palette();

  @accentColor: flamingo;
}

html[data-theme="catppuccin-macchiato-pink"] {
  #lib.palette();

  @accentColor: pink;
}

html[data-theme="catppuccin-macchiato-mauve"] {
  #lib.palette();

  @accentColor: mauve;
}

html[data-theme="catppuccin-macchiato-red"] {
  #lib.palette();

  @accentColor: red;
}

html[data-theme="catppuccin-macchiato-maroon"] {
  #lib.palette();

  @accentColor: maroon;
}

html[data-theme="catppuccin-macchiato-peach"] {
  #lib.palette();

  @accentColor: peach;
}

html[data-theme="catppuccin-macchiato-yellow"] {
  #lib.palette();

  @accentColor: yellow;
}

html[data-theme="catppuccin-macchiato-green"] {
  #lib.palette();

  @accentColor: green;
}

html[data-theme="catppuccin-macchiato-teal"] {
  #lib.palette();

  @accentColor: teal;
}

html[data-theme="catppuccin-macchiato-sky"] {
  #lib.palette();

  @accentColor: sky;
}

html[data-theme="catppuccin-macchiato-sapphire"] {
  #lib.palette();

  @accentColor: sapphire;
}

html[data-theme="catppuccin-macchiato-blue"] {
  #lib.palette();

  @accentColor: blue;
}

html[data-theme="catppuccin-macchiato-lavender"] {
  #lib.palette();

  @accentColor: lavender;
}












