@import "https://userstyles.catppuccin.com/lib/lib.less";

@flavor: mocha;

html[data-theme="catppuccin-mocha-rosewater"] {
  #lib.palette();

  @accentColor: rosewater;
}

html[data-theme="catppuccin-mocha-flamingo"] {
  #lib.palette();

  @accentColor: flamingo;
}

html[data-theme="catppuccin-mocha-pink"] {
  #lib.palette();

  @accentColor: pink;
}

html[data-theme="catppuccin-mocha-mauve"] {
  #lib.palette();

  @accentColor: mauve;
}

html[data-theme="catppuccin-mocha-red"] {
  #lib.palette();

  @accentColor: red;
}

html[data-theme="catppuccin-mocha-maroon"] {
  #lib.palette();

  @accentColor: maroon;
}

html[data-theme="catppuccin-mocha-peach"] {
  #lib.palette();

  @accentColor: peach;
}

html[data-theme="catppuccin-mocha-yellow"] {
  #lib.palette();

  @accentColor: yellow;
}

html[data-theme="catppuccin-mocha-green"] {
  #lib.palette();

  @accentColor: green;
}

html[data-theme="catppuccin-mocha-teal"] {
  #lib.palette();

  @accentColor: teal;
}

html[data-theme="catppuccin-mocha-sky"] {
  #lib.palette();

  @accentColor: sky;
}

html[data-theme="catppuccin-mocha-sapphire"] {
  #lib.palette();

  @accentColor: sapphire;
}

html[data-theme="catppuccin-mocha-blue"] {
  #lib.palette();

  @accentColor: blue;
}

html[data-theme="catppuccin-mocha-lavender"] {
  #lib.palette();

  @accentColor: lavender;
}












